<h1>Products#show</h1>
	<p><strong>Product: </strong><%= @product[:name] %></p>
	<p><strong>Description: </strong><%= @product[:description] %></p>
	<p><strong>Price in cents: </strong><%= @product[:price_in_cents] %></p>
